@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-foreground: 75 75 75;
    --color-background: 255 255 255;
    --color-background-secondary: 224 235 252;
    --color-header-primary: 096 165 250;
    --color-header-secondary: 76 152 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: 225 225 225;
        --color-background: 30 41 59;
        --color-background-secondary: 39 50 75;
        --color-header-primary: 8 69 138;
        --color-header-secondary: 17 56 114;
    }
}

a {
    @apply font-bold underline decoration-dotted underline-offset-4
    text-gray-600 hover:text-foreground dark:text-foreground dark:hover:text-white
    transition ease-in-out;
}

footer a {
    @apply text-gray-200 hover:text-white;
}

h3 {
    @apply font-cursive text-2xl mb-5;
}

.fs-px {
    @apply px-4 md:px-6 lg:px-8;
}

.fs-py {
    @apply py-4 md:py-6 lg:py-8;
}

.gap {
    @apply gap-4 md:gap-6 lg:gap-8;
}

main .grid section {
    @apply fs-px fs-py
}